<section class="tought-form-container">
  <h1>Criando Pensamentos</h1>
  <form action="/toughts/add" method="post">
    <div class="form-control">
      <label for="title">Título:</label>
      <input type="text" name="title" placeholder="Digite seu Pensamento">
    </div>
    <input type="submit" value="Criar Pensamento">
  </form>
  <a href="/toughts/dashboard">Voltar</a>

</section>