<section class="Dashboard">
  <div class="title-container">
    <h2>Dashboard</h2>
    <a href="/toughts/add" class="btn">Criar Pensamento</a>
  </div>
    <h3>Seus Pensamentos</h3>
 <article>
    <ul>
    {{#each toughts}}
    <div class="toughts">
      <li>
        <span>{{this.title}}</span>
        {{!-- <div class="actions"> --}}
          <span class="buttons">
          <form action="/toughts/remove" method="post">
            <input type="hidden" name="id" value="{{this.id}}" />
            <input type="submit" value="Excluir" />

          </form>
          <button> <a href="/toughts/edit/{{this.id}}">Editar</a></button>
          </span>

        {{!-- </div> --}}

      </li>
      </div>
    {{/each}}
  </ul>
  {{#if emptyTought }}
  <p>Ainda não existe pensamentos,comece a criar <a href="/toughts/add">Por aqui</a></p>
  {{/if}}

 </article>
</section>