
<section class="auth-container">

<form action="/login" method="post">
  <div class="hr"><hr><h2>Entrar</h2></div>
  <div class="form-control">
  <label for="email">E-mail:</label>
  <input type="email" name="email" placeholder="Digite seu email">
  </div>
<div class="form-control">
  <label for="password">Senha:</label>
  <input type="password" name="password" placeholder="Digite sua senha">
  </div>
  <input type="submit" value="Entrar">
  <p>Não tem conta? <a href="#">Clique aqui</a></p>
</form>
</section>