<section class="auth-container">
<form action="/register" method="post">
  <div class="hr"><hr><h2>Registrar</h2></div>

<div class="form-control">
  <label for="name">Nome:</label>
  <input type="text" name="name" required="true" placeholder="Digite seu nome">
  </div>
<div class="form-control">
  <label for="email">E-mail:</label>
  <input type="email" name="email" required="true" placeholder="Digite seu email">
  </div>
<div class="form-control">
  <label for="password">Senha:</label>
  <input type="password" name="password" required="true" placeholder="Digite sua senha">
  </div>
<div class="form-control">
  <label for="confirmpassword">Confirmação de senha:</label>
  <input type="password" name="confirmpassword" required="true" placeholder="Confirme sua senha">
  </div>
  <input type="submit" value="Cadastrar">
  <p>Já tem conta, <a href="#">Clique aqui</a></p>
</form>
</section>
