<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <title>Pensador</title>
  </head>
  <body>
    <nav id="navbar">
      <a href="/" id="logo">
        <img src="/img/logo.png" alt="Logo Pensador" />
      </a>
      <ul>
        <li><a href="/">Pensamentos</a></li>
        {{#if session.userId}}
          <li><a href="/toughts/dashboard">Dashboard</a></li>
          <li><a href="/logout">Logout</a></li>

        {{else}}
          <li><a href="/Login">Entrar</a></li>
          <li><a href="/register">Registrar</a></li>
        {{/if}}

      </ul>
    </nav>

    <div class="container">
      {{! CRIANDO AS FLASHS MESSAGES }}
      {{#if messages.message}}
        <div class="message">
          {{messages.message}}
        </div>
      {{/if}}
      {{{body}}}
    </div>
    <footer>
      <p><span>Pensador</span>&copy;2023</p>
    </footer>
  </body>
</html>